<h4>ショッピングカート</h4>

<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cart_items.each do |cart_item| %>
      <tr>
        <td><%= attachment_image_tag @cart_items, item, :image, :fill, 50, 50 %><%= @cart_items.item.name %></td>
        <td><%= @cart_items.item.price.to_s(:delimited) %></td>
        <td><%= f.select :amount %></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>