<li>
  <%= link_to "マイページ", admin_items_path %>
</li>
<li>
  <%= link_to "商品一覧" %>
</li>
<li>
  <%= link_to "カート" %>
</li>
<li>
  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
</li>
