<h3>商品一覧</h3>

<% @items.each do |item| %>

  <%= attachment_image_tag item, :image, :fill, 80, 80 %></br>
  <%= item.name %></br>
  <%= item.add_tax_price.to_s(:delimited) %></br>

<% end %>
<%= paginate @items %>
